/build
/main-built.js
/node_modules

/images

#ignore all the js files
*.js
*.js.map

#don't ignore js in lib
!/js/lib/vendor/*.js

#don't ignore app and build js
!/js/app.js
!/build.js

#ignore source maps


#PHP-/Webstorm stuff
/.idea

#Ignore Visual studio temporary and user specific stuff:

#build dirs
/bin
/bld


# User-specific files
*.suo
*.user
*.sln.docstates
UpgradeLog.htm
