/build
/main-built.js
/node_modules

/images

#PHP-/Webstorm stuff
/.idea

#Ignore Visual studio temporary and user specific stuff:

#build dirs
/bin
/bld


# User-specific files
*.suo
*.user
*.sln.docstates
UpgradeLog.htm
