.c9
/build/*
/dist/*
/build
/dist

/main-built.js
/node_modules

/images

#ignore all the js files
!Gruntfile.js

#typescript cache
.tscache

#PHP-/Webstorm stuff
/.idea

#Ignore Visual studio temporary and user specific stuff:

#build dirs
/bin
/bld


# User-specific files
*.suo
*.user
*.sln.docstates
UpgradeLog.htm
